<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultado del Triangulo</title>
</head>
<body>
<h2>Resultado</h2>

<div>
    <p>Nombre: <span th:text="${nombre}"></span></p>
    <p>Base: <span th:text="${triangulo.base}"></span></p>
    <p>Altura: <span th:text="${triangulo.altura}"></span></p>
    <p>Area: <span th:text="${triangulo.area}"></span></p>
    <p>Perimetro: <span th:text="${triangulo.perimetro}"></span></p>
</div>

<a href="/">Volver al inicio</a>
</body>
</html>
